<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Sorage
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Id</ion-label>
      <ion-input type="text" [(ngModel)]="id" placeholder="requerido" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" [(ngModel)]="nome" placeholder="requerido" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="text" [(ngModel)]="email" placeholder="requerido" required></ion-input>
    </ion-item>

    <div>
      <ion-button expand="block" shape="round" (click)="setStorage()">Salvar</ion-button>
    </div>
    <div>
      <ion-button color="tertiary" expand="block" shape="round" (click)="getStorage()">Buscar</ion-button>
    </div>
    <div>
      <ion-button color="danger" expand="block" shape="round" (click)="clearStorage()">Deletar</ion-button>
    </div>

  </ion-list>
  <ion-list>
    <ion-item>
      <ion-text color="warning">LocalStorage:</ion-text>
    </ion-item>
    <p>
      {{ storageName }}
    </p>
  </ion-list>
</ion-content>